body, h1, h2, h3, h4 ,h5 h6, p, span, a, b {
	color: #333;
}

.btn-primary {
    background-color: #4c7cf3;
    border-color: #4c7cf3;

    background-image: linear-gradient(45deg, #263238 0, #4c7cf3 100%);
    border: 0;
    height: 38px;
}
.btn-outline-primary {
    color: #4c7cf3;
    border-color: #4c7cf3;
}
.btn-outline-primary a {
    color: #4c7cf3;
}
.btn-primary:hover,
.btn-outline-primary:hover {
    color: #fff;
    background-image: linear-gradient(45deg, #4c7cf3 0, #007bff 100%);
}
.btn-outline-primary:hover a {
    color: #fff;
}

.header {
	position: fixed;
	top: 0;
	left: 250px;
	right: 0;
	/*border-bottom: 1px solid #dadce0;*/
	/*background: #fff;*/
    z-index: 109;

    /*padding: 15px 30px;*/

    /*background: #2b2f61;*/
    /*background: #4c7cf3;*/
    /*background-image: linear-gradient(58deg, #4c7cf3 0, #4cc6f3 100%);*/
    /*height: 45px;*/
    height: 70px;
    padding: 1px 15px;

    transition: 0.5s;

    background-image: linear-gradient(90deg, #263238 0, #4c7cf3 100%);

    /*box-shadow: 0 0 30px 0 rgba(200, 200, 200, 0.3);*/
}
.header a,
.header i,
.header span {
    /*color: #d1d1f0;*/
    color: #fff;
}

.side-bar {
	position: fixed;
	/*top: 57px;*/
    /*top: 46px;*/
    top: 0;
	left: 0;
	bottom: 0;
	/*width: 249px;*/
    width: 250px;
	/*border-right: 1px solid #dadce0;*/
	transition: 0.5s;

    /*background: #fafafa;*/
    /*background: #fff;*/
    background: #263238;
    z-index: 99;

    /*box-shadow: 0 0 30px 0 rgba(200, 200, 200, 0.3);*/
    /*border-right: 1px solid rgba(0,0,0,.125);*/

    border-radius: 0;
}
.side-bar .link-title {
    transition: 0.5s;
}

.main-container-padding {
    /*padding: 15px;*/
    position: relative;
}
.white-rounded {
    background: #fff;
    /*border-radius: .25rem;*/
    padding: 15px;
    /*box-shadow: 0 0 30px 0 rgba(200, 200, 200, 0.3);*/

    background-clip: border-box;
    /*border: 1px solid rgba(0,0,0,.125);*/
    /*border-radius: .25rem;*/
}
.main-container {
	/*min-height: calc(100vh - 57px);*/
    min-height: calc(100vh - 70px);
	/*margin: 57px 0 0 250px;*/
    margin: 70px 0 0 250px;
	transition: 0.5s;
    position: relative;
    padding: 15px;
}

.logo {
    text-align: center;
    padding: 25px;
}
.logo a {
    font-size: 30px;
    /*color: #4c7cf3 !important;*/
    color: #fff !important;
    text-decoration: none !important;
    font-weight: bold;
}
.header .logo {
    padding: 0 0 0 10px;
}
.header .logo a {
    color: #fff !important;
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation li {
    position: relative;
    margin: 5px 0;
    /*padding: 0 0 0 15px;*/
}
.navigation li a {
    padding: 10px 20px;
    display: block;
    color: #8A98AC;
    text-decoration: none;
}
.navigation li.active a,
.navigation li:hover a {
    color: #fff;
    /*background-image: linear-gradient(58deg, #4c7cf3 0, #4cc6f3 100%);*/
    background: #4c7cf3;
    /*border-radius: 50px 0 0 50px;*/
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.navigation li a i {
    padding-right: 10px;
    width: 30px;
    text-align: center;
}

body {
    /*background: #F0F4F9;*/
    position: relative;
    /*min-height: calc(100vh - 57px);*/
    min-height: calc(100vh - 70px);
}

/*body.sideBarHide,*/
body.sideBarHide .main-container,
body.AuthHide .main-container {
	margin-left: 0;
    /*margin-left: 48px;*/
}

body.sideBarHide .header,
body.AuthHide .header {
    left: 0;
}
body.sideBarHide .side-bar,
body.AuthHide .side-bar {
    /*width: 47px;*/
    left: -250px;
}
body.sideBarHide .side-bar .changeLang,
body.AuthHide .side-bar .changeLang {
    display: none;
}
body.sideBarHide .side-bar .list-group-item,
body.AuthHide .side-bar .list-group-item {
    padding: 12px 0 12px 15px;
}
body.sideBarHide .side-bar .list-group-item.active,
body.AuthHide .side-bar .list-group-item.active {
    padding: 12px 0 12px 10px;
}
body.sideBarHide .side-bar .link-title,
body.AuthHide .side-bar .link-title {
    display: none;
}
body.sideBarHide .side-bar .main-container ,
body.AuthHide .side-bar .main-container {
	/*left: -220px;*/
    /*left: 48px;*/
}

.hideText {
	display: none;
}

.link {
    color: #007bff;
}
.link:hover,
.link-dc:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #007bff;
}
.custom-checkbox label {
	cursor: pointer;
	min-height: 18px;
}

.side-bar .list-group-item {
	background: transparent;
	/*color: #ccc;*/
	border-width: 0;

    /*color: #707070;*/
}
.side-bar .list-group-item.active {
	/*color: #1d76e8;*/
	/*background: #e8f0fe;*/
    background: #f0f0f0;
    color: #2b2f61;
    border-left: 5px solid #2b2f61;
    padding-left: 15px;
}

.zonePreloader {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
    z-index: 59;
    display: flex;
    align-items: center;
}
.zonePreloader div {
	font-size: 20px;
	margin: 0 auto;
}
.zonePreloader div i {
	font-size: 35px;
}

.inputError {
	border: 1px solid red !important;
	background: #fff0f0 !important;
}

/*.header:after {
	background: linear-gradient(135deg,#6d0eb1 50%,#080ab4 100%);
	content: "";
    display: block;
    height: 3px;
    width: 100%;

    position: absolute;
    left: 0;
    right: 0;
    top: 53px;
}*/

.bg-dark {
    /*background-color: rgb(33, 34, 38) !important;*/
}

.bg-dark-m {
    /*background-color: rgb(48, 49, 54) !important;*/
}
.bg-dark-active,
.side-bar .active {
    /*background-color: rgb(66, 71, 77) !important;*/
}
.bg-dark-regular {
    /*background-color: rgb(54, 57, 64) !important;*/
}
.side-bar .list-group-item:hover {
    /*background: #007bff !important;
    color: #fff;*/
    /*color: #1d76e8;*/
    /*background: #e8f0fe;*/
    background: #f0f0f0;
    color: #2b2f61;
}

.btn {
    margin-right: 7px;
}
.btn,
.btn-pripary {
    /*border-radius: 0 !important;*/
    /*background: #42474d;*/
    /*border-width: 0 !important;*/
    /*color: #fff !important;*/
    border-radius: .25rem;
}
/*.bg-dark-regular */.btn,
/*.bg-dark-regular */.btn-pripary {
	/*background: #5c656f;*/
}
.bg-dark-regular {
	/*color: rgb(194, 204, 218);*/
}
.bg-dark-regular td,
.bg-dark-regular th,
.bg-dark-regular * {
	/*border-color: rgb(71, 74, 81) !important;*/
}
.bg-dark-regular .table tr:hover {
	/*background-color: rgb(66, 71, 77) !important;*/
}

.modal-content {
	/*border: 1px solid #363940;*/
	border-width: 0 !important;
    border-radius: .25rem;
}
.modal-header {
	border-bottom: 1px solid #dadce0;
}
.modal-footer {
	border-radius: 0;
	/*background-color: rgb(48, 49, 54) !important;*/
	/*background-color: rgb(33, 34, 38) !important;*/
	/*color: rgb(194, 204, 218);*/
	border-width: 0;
	border-top: 1px solid #dadce0;
}
.modal-body {
	/*background-color: rgb(54, 57, 64) !important;*/
	/*color: rgb(194, 204, 218);*/
	border-radius: 0 !important;
}
.modal-header .close span {
	/*color: #fff;*/
}

.form-control {
	/*background: rgb(72, 75, 82) !important;*/
	/*border-radius: 0 !important;*/
	border-color: #dadce0;
    /*color: rgb(194, 204, 218) !important;*/
    padding: 7px 15px !important;
}
select.form-control {
	padding: 0px 9px !important;
}
.card-header {
	background: transparent;
}
.userCashField {
	color: #aaa;
	padding-right: 10px;
}
.userCashField .userCashStyle {
	color: #007bff;
}

.changeLang {
	position: absolute;
	bottom: 0;
	padding: 0 15px 6px;
}
.changeLang .elem {
	display: block;
	color: #777;
}
.changeLang .elem.activeLang {
	color: #007bff;
}
.changeLang .elem:hover {
	cursor: pointer;
    text-decoration: underline;
}
.side-bar .list-group-item i {
	width: 22px;
    text-align: center;
    margin-right: 5px;
}
.sideBarMenuActivator {
    /* border-right: 1px solid #dadce0; */
    /* border-right: 1px solid #d1d1f0; */
    margin: -8px 13px 0 -13px;
    height: 37px;
    padding: 0px 13px 0 25px;
    /*font-size: 20px;*/
    cursor: pointer;
    font-size: 30px;
}

.custom-control-label::before {
    background-color: #dee2e6;
    border-width: 0px;
}
.custom-control-input {
    position: absolute;
    left: 0;
}

.height-100 {
	min-height: 100%;
}

.allUnreadMessages {
	float: right;
    border: 1px solid #dadce0;
    padding: 1px 5px;
    border-radius: 30px;
    min-width: 28px;
    text-align: center;
    color: #555;
    display: none;
}
.allUnreadMessages.show {
	display: inline-block;
}

.moreSpace {
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;

    position: absolute;
    left: 0;
    bottom: 60px;
    padding: 0 20px;
}
.moreSpace .user-money {
    color: #4c7cf3;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}
.moreSpace .user-money i {
    color: #4c7cf3;
}
.moreSpace span {
    color: #8a98ac;
}
#tarif-slider {
    width: calc(100% - 20px);
    background: #ccc;
    height: 10px;
    position: relative;
    margin: 0 10px;
    border-radius: 5px;
}
#tarif-slider span {
    left: 0;
    background: rgb(0, 123, 255);
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 50%;
    top: -5px;
    margin-left: -10px;
}

.overflow-auto {
    overflow: auto;
}

.table thead th {
    border-bottom: 0;
}

.popupFixed {
    position: fixed;
    z-index: 999;
    margin: 0;
    max-width: 700px;
    background: rgba(0,0,0,0.75);
    color: #ffffff;
    top: -250px;
    left: 50%;
    right: auto;
    box-shadow: 0 0 30px 0 rgba(200, 200, 200, 0.3);

    transition: right 0.5s;
}
.popupFixed.show {
    top: 50px;
}
.popupFixed.alert-success {
    border: 2px solid #478c56;
}
.popupFixed.alert-danger {
    border: 2px solid red;
}

.fl-right {
    float: right;
}
.hide-b {
    display: none;
}

#balanceModal .money {
    color: #4c7cf3;
    font-size: 35px;
}
#balanceModal .fill-up input {
    /*width: calc(50% - 3px);*/
    width: 120px;
    display: inline-block;
    border-radius: 0;
    font-size: 30px;
    text-align: center;
    color: #4c7cf3;
    margin-right: 8px;
    line-height: 0;
    padding: 0px !important;
    height: 38px;
}
#balanceModal .fill-up .fas {
    font-size: 35px;
    color: #4c7cf3;
}
#balanceModal .fill-up .rub-money-block,
#balanceModal .fill-up .rub-money {
    font-size: 20px;
    color: #aaa;
}

.showBalanceModal {
    cursor: pointer;
}

.br-h {
    border-right: 1px solid #dadce0;
}

.cursor-pointer {
    cursor: pointer;
}
.hide {
    display: none;
}

@media (max-width: 850px) {
    body .main-container,
    body.sideBarHide .main-container {
        margin-left: 0;
    }
    .header,
    body.sideBarHide .header {
        left: 0;
    }
    .side-bar {
        top: 70px;
    }
}

@media (max-width: 576px) {
    .main-container {
        padding: 0;
        border-radius: 0;
    }
    .row {
        margin: 0 !important;
    }
    .card {
        border-radius: 0 !important;
    }
    .white-rounded {
        border-radius: 0 !important;
    }
    .bs-s-0 {
        border-left: 0;
        border-right: 0;
    }
    .mt-s-15 {
        margin-top: 15px;
    }
    .hide-s {
        display: none;
    }
    .hide-b {
        display: block;
    }
    .br-h {
        border: 0;
    }
}
