.main-container {
    padding: 0;
}
.nav-breadcrumb {
	margin-top: 10px !important;
}
.nav-breadcrumb .breadcrumb {
	padding: .4rem 1rem !important;
}
.table th {
	border-width: 1px 0 0 1px !important;
    padding: .3rem .75rem;
}
.table td {
    padding: .35rem .75rem;
}
/* dir-file */
.element-item {
    border: 1px solid #dadce0;
    padding: 7px 15px;
    /*border-radius: 10px;*/
    margin-bottom: 15px;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow: hidden;

    border-radius: .25rem;
}
.element-item.active {
    background: #e8f0fe;
    color: #007bff;
    border-color: #007bff;
}
.element-item .image {
    text-align: center;
    font-size: 80px;

    margin: -8px -15px 0;
    height: 140px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
.element-item .image .image-preview {
    background-size: cover;
    background-position: center;
    height: 140px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.element-item .name {
    width: 100%;
    text-align: center;
    display: block;
    word-break: break-word;

    height: 38px;
    max-height: 38px;
    overflow: hidden;
    font-size: 13px;

    margin-top: 5px;
}
.file-anchor {
    position: absolute;
    top: calc(-50vh);
}
.dir .element-item .name {
    margin-top: 0;
    height: auto;
}
/* other */
.uploader-progress {
	position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    border-top: 1px solid #ccc;
    background: #fff;
    transition: 0.5s;
    z-index: 299;
    margin: 0 15px 0 265px;
    width: calc(100% - 280px);
}
.uploader-progress span {
    color: #fff;
}
.sideBarHide .uploader-progress {
    margin: 0 15px 0 15px;
    width: calc(100% - 30px);
}
.fa-trash {
    cursor: pointer;
}
.dirInfoBar {
    padding: 7px 15px 0;
    border: 1px solid #dadce0;
    border-width: 1px 0 0 0;
    background: #fff;
    margin: 0 auto;

    position: fixed;
    left: 265px;
    right: 15px;
    bottom: 0;
    height: 40px;
    z-index: 1;
    transition: left 0.5s;
}
.sideBarHide .dirInfoBar {
    left: 15px;
}
.renameEnt {
    margin-right: 10px;
    cursor: pointer;
}
.typeIcon {
    width: 20px;
    text-align: center;
}
#fileInfoModal .preloader {
    text-align: center;
    font-size: 50px;
    line-height: 3;
}
#fileInfoModal .modal-content {
    background: transparent;
}
#fileInfoModal .modal-body {
    padding-top: 0;
    padding-bottom: 0;
}
#fileInfoModal .imgPreview {
    text-align: center;
    /*background: #1e1e1e;*/
    background: rgba(0,0,0,0.5);
    margin: 0 -15px;
    /*height: calc(100vh - 56px);*/
    height: 100vh;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}
#fileInfoModal .image-preloader {
    font-size: 60px;
    position: absolute;
}
#fileInfoModal .imgPreview img,
#fileInfoModal .imgPreview video {
    /*margin: -16px;*/
    max-width: 100%;
    /*margin-bottom: 0;*/
    /*max-height: 50vh;*/
    /*max-height: calc(100vh - 56px);*/
    max-height: 100vh;
    z-index: 1;
}
#fileInfoModal .imgPreview video {
    z-index: 3;
}
#fileInfoModal .fileInfoBlock {
    background: #fff;
    padding: 15px;
}
#fileInfoModal .fileTitle {
    font-weight: bold;
    font-size: 20px;
    /* padding: 10px 15px; */
    word-break: break-all;
}
#fileInfoModal .fileInfo {
    padding: 0 15px 10px 15px;
}
.publicFileRow .fileInfo .dashed,
#fileInfoModal .fileInfo .dashed {
    border-bottom: 1px dashed #ccc;
}
#fileInfoModal .fileInfo div {
    font-size: 1.1rem;
    line-height: 1.8;
}

.dropPrepare {
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    width: 100%;
    visibility: visible !important;
    background: rgba(0, 0, 0, 0.5);
    border: 3px dashed #fff;
}
.dirNavigation {
    /*background: #303136;*/
    /*border-radius: 0;*/
    width: 100%;

    background: #fafafa;
    border: 1px solid #dadce0;
    border-radius: .25rem;
}
.imgPreview {
    position: relative;
}
.imgPreview .arrow {
    position: absolute;
    left: -16px;
    top: -16px;
    bottom: 0;
    /*width: 40px;*/
    width: 30%;
    /*background: rgba(0, 0, 0, 0.5);*/
    cursor: pointer;
    z-index: 2;
}
.imgPreview .arrow.rightArrow {
    right: -16px;
    left: unset;
}
.imgPreview .arrow i {
    font-size: 35px;
    /*display: block;*/
    top: calc(50% - 17px);
    position: absolute;
    left: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    display: none;
}
.imgPreview .arrow.rightArrow i {
    right: 12px;
}
.imgPreview .icon {
    font-size: 70px;
}
table tbody tr:hover {
    /*background: #007bff !important;*/
    background: #e8f0fe !important;
}
table tbody tr:hover span,
table tbody tr:hover td {
    /*color: #fff !important;*/
    color: #1d76e8 !important;;
}

body.sideBarHide .moreSpace {
    transform: rotate(-90deg);
}
body.sideBarHide .moreSpace .text-info {
    display: none;
}
body.sideBarHide .moreSpace .usedSpacePercent {
    height: 10px !important;
    margin-top: 3px;
    width: calc(70vh - 300px);
}

.filePreviewRow {
    text-align: center;
}
.filePreviewRow .mainIcon {
    font-size: 200px;
}
.filePreviewRow .mainImage {
    max-width: 100%;
}

.zonePreloader {
    position: fixed;
    bottom: 0;
    top: 180px;
    right: 0;
    left: 250px;
}
.sideBarHide .zonePreloader {
    left: 0;
}

.files {
    position: relative;
    margin-bottom: 29px;
    margin-top: 110px;
}
.files .unselect-zone {
    /*background: green;*/
    /*cursor: pointer;*/
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    /*z-index: -10;*/
}

.uploader-button,
.download-button {
    cursor: pointer;
}
.uploader-button span,
.progress span {
    color: #fff;
}
.image-pre-loader {
    font-size: 30px;
    /*position: absolute;*/
    top: 37px;
}
.field-label {
    display: block !important;
    width: 100% !important;
    font-size: 12px !important;
    margin: 10px 0 -5px !important;
}
#fileInfoModal {
    padding-right: 0 !important;
}
#fileInfoModal.modal.fade {
    background: rgba(0, 0, 0, 0.5);
    padding: 0;
}
#fileInfoModal .modal-dialog {
    /*height: calc(100% - 56px);*/
    height: 100vh;
    padding: 0;
}

.files-controll {
    position: fixed;
    top: 70px;
    background: #fff;
    z-index: 100;
    left: 265px;
    right: 15px;
    padding: 15px 0 0 0;
    border-bottom: 1px solid #dadce0;
    transition: left 0.5s;
}
.sideBarHide .files-controll {
    left: 15px;
}
.dropPrepareLabel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    margin: 0;
    display: none;
}
.dropPrepareLabel.show {
    display: block!important;
}

@media (min-width: 576px) {
    #fileInfoModal .modal-dialog {
        /*width: calc(100% - 50px);*/
        /*max-width: calc(100% - 50px);*/
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
}
@media (max-width: 575px) {
    #fileInfoModal .modal-dialog {
        margin: 0 !important;
    }
    #fileInfoModal .imgPreview {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
    #fileInfoModal .close {
        position: fixed;
        top: 0;
        right: 0;
        height: 60px;
        width: 60px;
        font-size: 50px;
        z-index: 99;
        color: #fff;
        text-shadow: 1px 1px 5px #000;
    }
    #fileInfoModal .fileTitle {
        margin-top: 20px;
    }
}
#fileInfoModal .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}


body .mce-floatpanel {
    margin-left: -252px;
    margin-top: -54px;
}
body.sideBarHide .mce-floatpanel {
    margin-left: 0;
    margin-top: 0;
}

.uploader-files-list {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: auto;
    max-width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 7px 10px;
    border: 1px solid #dadce0;
    z-index: 99999;
    box-shadow: 0 0 30px 0 rgba(200, 200, 200, 0.3);
    min-width: 300px;
}
.uploader-files-list .list {
    overflow: auto;
    max-height: 60vh;
    margin-bottom: 55px;
}
.uploader-files-list #total-progress {
    position: absolute;
    bottom: 7px;
    left: 10px;
    right: 10px;
    border-top: 1px solid #dadce0;
}
.modal {
    overflow-y: auto;
}

@media (max-width: 574px) {
    .publicFileRow .fileInfo .dashed,
    #fileInfoModal .fileInfo .dashed {
        border-width: 0;
    }
}
.element-item-parent {
    max-width: 14.285714286%;
    /*max-width: 255px;*/
}
@media (max-width: 1400px) {
    .element-item-parent {
        /*max-width: 190px;*/
        /*max-width: 234px;*/
        max-width: 16.66666666666667% !important;
    }
}
@media (max-width: 1250px) {
    .element-item-parent {
        max-width: 20% !important;
        flex: 0 0 20%;
    }
}
@media (max-width: 1050px) {
    .element-item-parent {
        max-width: 25% !important;
        flex: 0 0 25%;
    }
}
@media (max-width: 660px) {
    .element-item-parent {
        max-width: 33.3333333333% !important;
        flex: 0 0 33.3333333333%;
    }
}
@media (max-width: 500px) {
    .element-item-parent {
        max-width: 50% !important;
        flex: 0 0 50%;
    }
}

@media (max-width: 576px) {
    .files-controll .hideTextBtn {
        display: none;
    }
    .files {
        /*margin: 0 0 30px 0 !important;*/
        /*margin-left: 0 !important;*/
        margin-right: -15px !important;
        width: calc(100% + 15px);
    }
    .dir .file {
        margin-right: -14px !important;
        width: calc(100% + 14px);
    }
    .dir.mr-3, .file.mr-3 {
        margin-right: 0px !important;
    }
    .element-item-parent {
        padding-left: 0;
        padding-right: 15px !important;
    }
    .element-item {
        /*border-radius: 0;*/
        /*margin: 0;*/
        /*border-color: #fff;*/
    }
    .files-controll.fixed {
        /*right: 15px;*/
    }
    .dirInfoBar {
        /*right: 15px;*/
    }
    #fileInfoModal .modal-body{
        padding-left: 0;
        padding-right: 0;
    }
}
