.commentsArea .comment {
	border-top: 1px dashed #dadce0;
	padding: 5px 0 0;
}
.commentsArea .comment .message {
	margin: 0;
}
.commentsArea .comment .time {
	float: right;
	font-size: 10px;
}
.commentsArea .comment .actionList .action {
	font-size: 12px;
    text-decoration: underline;
    margin-right: 10px;
    margin-top: -15px;
    cursor: pointer;
}
.commentsArea .comment .actionList .action:hover {
	color: #1682fe;
}