.card {
    border-color: #b7b7b7;
}
.card-body {
    padding: 0.5rem 1.25rem 1.25rem;
    font-size: 18px;
}
.card .money {
    color: #4c7cf3;
    font-size: 30px;
}
.card .table tbody th {
    font-size: 14px;
    font-weight: normal;
}
.card .table th {
    font-size: 16px;
    font-weight: normal;
}
.card .table td {
    font-size: 14px;
    font-weight: normal;
}
