.delete-nfs {
    color: #fff;
    margin: 4px -5px;
}
.delete-nfs:hover {
    cursor: pointer;
    color: red;
}

.card-header {
    margin: -1px -1px 0 -1px;
    background-image: linear-gradient(58deg, #4c7cf3 0, #4cc6f3 100%);
    color: #fff;
}
.box-control .btn {
    width: calc(50% - 6px);
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #dadce0;
}
