.note {
    padding: 4px 0;
    cursor: pointer;
    font-size: 15px;
    margin: 0;
    border-top: 1px solid #dadce0;
}

.ui-note-highlight {
	height: 30px;
	background: #2196F3;
	opacity: 0.5;
}

.content-header {
	font-size: 18px;
    margin: 5px 0;
}

.group {
	padding: 4px 15px;
	cursor: pointer;
	margin: 0;
	border-top: 1px solid #dadce0;
	font-size: 15px;
}
.note:hover,
.group:hover {
	/*background-color: rgb(66, 71, 77) !important;*/
	/*background: #007bff !important;
	color: #fff !important;*/
	color: #1d76e8 !important;
	background: #e8f0fe !important;
}

.newNote,
.newGroup {
	width: 100%;
}
.newGroup {
	width: 39px;
    padding: 6px 10px;
    margin: 0 0 0 3px;
    margin-top: -2px;
}

.noteListSection,
.groupListSection {
    padding-top: 10px;
}

/* модалка заметок */
#noteModal label {
	width: 100%;
}
#noteModal [name=title],
#editGroup [name=title],
#groupModal [name=title],
.line-input {
	width: 100%;
	border-radius: 0;
	border-width: 0 0 1px 0;
	box-shadow: none;
	padding: 0;
	height: 32px;
	font-size: 16px;
}
#noteModal textarea {
    border-radius: 0px;
    height: 400px;
    box-shadow: none;
    max-width: 100%;
    min-width: 100%;
    font-weight: normal;
}
.noteGroup {
	width: calc(100% - 60px);
	display: inherit;
}

/* переопределение модалки */
.modal-header,
.modal-footer,
.modal-body {
    padding: 10px 15px;
}
.modal-content {
    border-radius: 5px;
}

/*  */
.btn {
	border-radius: 5px;
}

.editGroup {
	float: right;
	padding: 5px;
	margin: -5px -15px 0 0;
	display: block;
	width: 30px;
}
.group.active {
	/*background: #42474d;*/
	/*border: 1px solid #fff;*/
	/*padding: 4px 14px;*/
    /*color: #ffffff;*/
    color: #1d76e8;
    background: #e8f0fe;
}

.dashed {
	border: 1px dashed #dadce0;
	border-width: 0 0 1px 0;
}

.link {
	background: transparent;
	border: 1px dashed #2196F3;
	border-width: 0 0 1px 0;
	color: #2196F3;
	cursor: pointer;
	padding: 0;
}
.link:focus {
	outline: none;
}

.fa-arrows-alt {
    opacity: 0.5;
    cursor: grab;
}

.note-content-area {
	min-height: 400px;
	border: 0;
}

.note-content-area:focus {
	outline: 0 !important;
}

.mce-tinymce.mce-container.mce-panel,
.mce-tinymce.mce-container.mce-panel .mce-statusbar {
	box-shadow: none !important;
	border-color: #dadce0 !important;
}

body .mce-floatpanel {
    margin-left: -249px;
    margin-top: -53px;
}

.mce-menu-sub {
	margin-left: 0 !important;
    margin-top: 0 !important;
}

body.sideBarHide .mce-floatpanel {
    margin-left: 0 !important;
}

@media (max-width: 576px) {
	.search {
		margin-bottom: 10px;
	}
}

