.plans {
    max-width: 1200px;
    margin: auto;
}
.plan {
    border: 1px solid #dadce0;
    margin: 0 15px 15px;
    border-radius: 7px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    min-width: 220px;
}
.plan.active {
    border-color: #4c7cf3;
}
.plan .title {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.plan .price {
    font-size: 30px;
    font-weight: bold;
}
.plan .price .sub-info {
    font-size: 16px;
}
.plan .space {
    font-size: 34px;
    font-weight: bold;
}
.plan .space i {
    font-weight: 900;
    color: #4c7cf3;
    font-size: 25px;
}
.plans-page .used-info {
    max-width: 800px;
    margin: auto;
}
.plans-page .used-info .text {
    font-size: 34px;
    font-weight: bold;
}
.plans-page .used-info .progress-bar {
    height: 20px;
}
