.tarif-block {
    text-align: center;
}
.tarif-block .space {
	font-size: 50px;
	display: block;
	margin-bottom: 15px;
}
.discount {
	background-image: linear-gradient(90deg,#ee5154,#fb7100);
    color: #fff;
    padding: 10px 10px;
    border-radius: 0 15px 15px 0;

    width: 60px;
    display: block;
    position: absolute;
    right: -3px;
    top: -3px;
    height: 44px;
    height: calc(100% + 6px);

    display: flex;
    align-items: center;
    justify-content: center;
}
.buy-btn {
	/*width: 80%;*/
    margin: 0 auto 15px;
	border: 3px solid #ee5154;
	border-radius: 15px;
	position: relative;
	padding: 7px 5px 7px 5px;
	/*padding-right: 80px;*/
	cursor: pointer;
	transition: 0.2s;
	max-width: 250px;
}
.buy-btn span {
	font-weight: bold;
}
.buy-btn .price {
	transition: 0.2s;
	display: none;
}
.buy-btn:hover {
    background: #ee5154;
}
.buy-btn:hover .price {
    color: #fff;
    display: inline-block;
}
.buy-btn:hover .price-monthly {
	display: none;
}
/*.tarif-block:hover {
	border-color: #ee5154;
}*/
