.table th {
	border-width: 1px 0 0 1px !important;
    padding: .3rem .75rem;
}
.table td {
    padding: .35rem .75rem;
}

table tbody tr:hover {
    /*background: #007bff !important;*/
    background: #e8f0fe !important;
}
table tbody tr:hover span,
table tbody tr:hover td {
    /*color: #fff !important;*/
    color: #1d76e8 !important;;
}