.main-container {
    padding: 0;
}
.files td {
    padding: 4px 15px;
    cursor: pointer;
    margin: 0;
    border-top: 1px solid #dadce0;
    font-size: 15px;
}

.files tr:hover {
    /*background-color: rgb(66, 71, 77) !important;*/
    /*background: #007bff !important;
    color: #fff !important;*/
    color: #1d76e8 !important;
    background: #e8f0fe !important;
}
.table th {
    padding: 4px 15px;
}
.table th:first-child,
.table td:first-child {
    width: 20px;
    padding: 4px;
}

.files .entName {
    white-space: nowrap;
}
.files .entName i {
    width: 24px;
    text-align: center;
}
.nav-breadcrumb {
    margin-top: 10px !important;
}
.nav-breadcrumb .breadcrumb {
    padding: .4rem 1rem !important;
}
.table {
    margin-bottom: 25px;
}
.dirNavigation {
    /*background: #303136;*/
    border-radius: 0;
    width: 100%;

    background: #fafafa;
    border: 1px solid #dadce0;
    border-radius: 7px;
}
.dirInfoBar {
    padding: 7px 15px 0;
    border: 1px solid #dadce0;
    border-width: 1px 0 0 0;
    background: #fff;
    margin: 0 auto;

    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    height: 40px;
    z-index: 1;
}

@media (max-width: 576px) {
    .files-controll .hideTextBtn {
        display: none;
    }
}
