#userProfileModal .avatar {
	max-width: 100%;
}
#userProfileModal .modal-body {
	font-size: 18px;
}

.openUserInfo {
    margin-right: 10px;
    /*background: #fff;*/
    /*border: 1px solid #dadce0;*/
    /*border-width: 1px !important;*/
    padding-left: 13px;
    padding-top: 10px;

    border: 0;
    background: transparent;
}
.openUserInfo img {
	height: 50px;
    margin: -9px 5px -6px -13px;

    border-radius: 50%;
}
.header-logout,
.header-login {
	/*color: #aaa;*/
	/*border: 1px solid #dadce0;*/
	/*border-width: 1px !important;*/
	padding: 8px 12px;

	border: 0;
}

.uploadAvatarBtn {
	border: 1px solid #dadce0 !important;
	margin-top: 4px;
    margin-right: 2px;
}
.deleteAvatarBtn {
	border: 1px solid #dadce0 !important;
    padding: 10px 7px;
    margin: 4px 0 0 1px;
}
