.vh-100 {
    height: 100vh;
}
.section-1 {
    /*background-image: linear-gradient(58deg, #4c7cf3 0, #4cc6f3 100%);*/
    min-height: 100vh;
    position: relative;

    background: url(https://cdn.ezerbox.com/p/ulfan/7j/7j3hgqkko.jpg);
    background-size: cover;
}
.section-1 .contact {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    padding: 9px 15px;
    background: rgba(0,0,0,0.6);
}
.section-1 .contact a {
    color: #fff;
    font-size: 20px;
}

.login-form {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*margin: auto;*/
    /*width: 100%;*/
    /*height: 280px;*/
    display: inline-block;
    margin: auto;
    width: 100%;

    background: white;
    padding: 15px;
    border-radius: 7px;
    max-width: 370px;
}
.login-form .item {
    width: calc(50% - 23px);
    display: inline-block;
    text-align: center;
    margin: 0 10px 10px;
    font-size: 20px;
    cursor: pointer;
}
.login-form .item.active {
    border-bottom: 3px solid #005cbf;
}
.login-form .form-control {
    border-width: 0 0 1px 0;
    border-color: #005cbf;
    border-radius: 0;
}
.login-form .margin {
    margin: 0 2px;
}

.cbp-af-header {
    font-family: 'Source Sans Pro', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    height: 80px;
    overflow: hidden;
    -webkit-transition: height 0.6s;
    -moz-transition: height 0.6s;
    transition: height 0.6s;
}
nav {
    z-index: 999;
    width: 100%;
    height: 80px;
}
nav #logo {
    float: left;
    z-index: 99999;

    display: block;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #FFF;
    opacity: 1;
    text-decoration: none;

    position: relative;
}
nav #logo a {
    color: #FFF;
    text-decoration: none;

    position: absolute;
    top: 33px;
    font-size: 20px;
    padding-left: 15px;
}

#nav {
    width: 100%;
}
#nav, #nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#nav>li {
    float: right;
    position: relative;
    padding: 20px 15px;
}
#nav>li>a {
    display: block;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #FFF;
    opacity: 1;
    text-decoration: none;
}
.cbp-af-header #nav a {
    line-height: 60px;
}

.huge-title {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 15px;*/
    /*bottom: 0;*/
    /*left: 15px;*/
    /*margin: auto;*/
    /*width: 100%;*/
    /*height: 100px;*/
}
.huge-title h2 {
    color: #fff;
}
.huge-title .main-info {
    background: rgba(0,0,0,0.5);
    padding: 7px 15px;
    border-radius: 5px;
    width: auto;
    display: inline-block;
}
.huge-title span {
    font-size: 18px;
}

.section-2 {
    background: #1F1F1F no-repeat center;
    padding: 80px 0;
}
.section-2 h2,
.section-2 h3 {
    color: #FFF;
    font-weight: 100;
}
.section-2 .article {
    position: relative;
    z-index: 999;
}
.section-2 p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    color: rgba(255,255,255,0.80);
    line-height: 30px;
}

.section-3 {
    background: #131313 no-repeat center;
    padding: 80px 0;
}
.section-3 h3 {
    color: #FFF;
    font-weight: 100;
}
.section-3 .article {
    position: relative;
    z-index: 999;
}
.section-3 a,
.section-3 p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    color: rgba(255,255,255,0.80);
    line-height: 30px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}
@media (max-width: 767px) {
    .no-flex {
        margin-bottom: 100px;
    }
    .vh-100 {
        height: auto !important;
    }
    .pt-100px {
        padding-top: 100px;
    }
}
